---
import Layout from '@layouts/Layout.astro';
import UploadForm from '@components/react/UploadForm';
import ImageGrid from '@components/react/ImageGrid';

const title = "firegram";
---

<Layout {title} >
  <header class="w-full lg:max-w-screen-xl">
    <h2 class="text-xl sm:text-2xl text-center text-pink-400 font-semibold">Your Pictures</h2>
  </header>
  <div class="my-6">
    <UploadForm client:load />
    <ImageGrid client:load />
  </div>
  
</Layout>
