---
import Layout from '@layouts/Layout.astro';
import Card from '@components/react/Card.jsx';

const title = "Gallery - firegram";
const arr = [1,2,3]
---

<Layout {title} >
  <header class="w-full lg:max-w-screen-xl">
    <h2 class="text-3xl text-center">Your Pictures</h2>
  </header>
  <section class="max-w-screen-sm sm:max-w-screen-lg h-fit mx-auto lg:mx-auto gap-3 mt-12">
    <ul class="grid grid-flow-row lg:grid-cols-3 gap-5">
      {arr.map((item, index) => (
        <Card />
      ))}
    </ul>
  </section>
</Layout>
